*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
       background : linear-gradient(135deg,#eef2f3,#d9a4f5);
}

/* Navbar */
.navbar{
    background-color: #334155;
    color: #ffffff;
    padding: 16px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar nav a{
 color: #ffffff;
 margin-left: 25px;
 text-decoration: none;
 font-size: 15px;
 transition: opacity 0.3s ease;
}
.navbar nav a:hover{
    opacity: 0.7;
}

/* Hero section */
.hero{
    background: linear-gradient(to bottom,#38bdf8, #0f172a);
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffffff
}
.hero h1{
    font-size: 36px;
    color: #e5e7eb;
    margin-bottom: 12px;
    font-weight: 600;
}
.hero p{
    font-size: 16px;
    color: #e5e7eb;
    max-width: 500px;
}
/* card */
.cards{
    background: linear-gradient(to bottom, #0f172a, #0f172a);
    display: flex;
    justify-content: center;
    color: #000000;
    gap: 35px;
    padding: 60px 30px;
}
.card{
     background: #90bcb0;
   width: 320px;
   padding: 35px;
   text-align: center;
   color: #ffffff;
   border-radius:12px;
   box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
   transition: transfrom 0.3s ease, box-shadow 0.3s ease;
   cursor: pointer;
}

.card:hover{
    transform: translate(-8px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
}

/* Hover */
.footer{
    background:#0f172a;
    background-color: black;
    color: #ffffff;
    padding: 18px;
    font-size: 14px;
}
